<h1>Search for a movie</h1>

<form action='/movies/search' method='get'>
  <input type='text' name='title' placehold='Movie Title'>
  <button>Search</button>
</form>


<% @results.movies.each do |movie|%>
<ul>
   <li> <%= movie.title %></li>
   <%= button_to "Save", movies_path(movie_id: movie.id), method: 'post' %>
  </ul>
  <% end %>

